btn.icon(
    on-click="fitAll" 
    tooltip="Fit all"
    ): icon.world
    

radio-buttons#toolChanger(value="{{currTool}}") 
    //- (on-select="changeTool")
    .ui.buttons
        radio-button.icon(
            default
            tooltip="Select" 
            value="sl"
            )
            icon.mouse.pointer
        radio-button.icon(
            tooltip="Trace route" 
            value="tr"
            )
            icon.bars
        radio-button.icon(
            tooltip="Move" 
            value="mv"
            )
            icon.arrows.alternate
        radio-button.icon(
            tooltip="Freehand tool" 
            value="fh"
            )
            icon.pencil.alternate


.ui.buttons.mini 
    checkbox(
        checked="{{selectGroup}}"
        tooltip="Select the parent group"
        ) Group

    ack-button.icon(
        on-click="groupSelected" 
        tooltip="Group all selected items"
        ): icon.object.group.outline        

+space
.ui.buttons 
    +each('layers as val')
        ack-button.mini.icon(
            on-click="sendTo"
            to="{{@key}}" 
            tooltip="Send selected component to {{@key}} Layer"
            ): icon.paper.plane(class="{{val.color}}")

+space
radio-buttons(value="{{currLayer}}")
    .ui.mini.buttons
        radio-button.icon.mini(
            default value="F.Cu" 
            true-color="red"
            tooltip="Trace on F.Cu"
            ) #[.ui.circular.red.empty.label]
        radio-button.mini.icon(
            value="B.Cu" 
            true-color="green"
            tooltip="Trace on B.Cu"
            ) #[.ui.circular.green.empty.label]

ack-button.mini.icon(
    on-click="cleanupDrawing" 
    tooltip="Cleanup drawing"): icon.erase

+space
//-
    ack-button.mini.icon(
        on-click="explode" 
        tooltip="Explode selected"): icon.bomb
.ui.mini.buttons
    ack-button.icon(
        on-click="saveBounds" 
        tooltip="Save selection bounds coordinate"
        ): icon.map.marker.alternate.blue

    ack-button.icon(
        on-click="moveToCenter" 
        tooltip="Move to last saved coordinates"
        ): icon.magnet.blue

.ui.mini.buttons
    ack-button.icon(
        on-click="measureDistance" 
        tooltip="Measure Distance"
        ): icon.ellipsis.vertical.green

.ui.mini.buttons
    ack-button.icon(
        on-click="calcUnconnected"
        tooltip="Unconnected count"
        ) {{connectedCount}}/{{unconnectedCount}}
    
div
canvas#draw
