radio-buttons#toolChanger(value="{{currTool}}") 
    //- (on-select="changeTool")
    .ui.buttons
        radio-button.icon(
            default
            tooltip="Select" 
            value="sl"
            )
            icon.mouse.pointer
        radio-button.icon(
            tooltip="Trace route" 
            value="tr"
            )
            icon.bars
        radio-button.icon(
            tooltip="Move" 
            value="mv"
            )
            icon.arrows.alternate
        radio-button.icon(
            tooltip="Freehand tool" 
            value="fh"
            )
            icon.pencil.alternate

+space
.ui.buttons 
    checkbox(
        checked="{{selectAllLayer}}" 
        tooltip="Select all objects in current layer") Layer
        
    checkbox(
        checked="{{selectGroup}}"
        tooltip="Select the parent group"
        ) Group

btn.icon(on-click="groupSelected" tooltip="Group all selected items"): icon.object.group.outline        
+space
btn.icon(on-click="fitAll" tooltip="Fit all"): icon.world
    
.ui.buttons 
    +each('layers as val')
        ack-button.icon(
            on-click="sendTo"
            to="{{@key}}" 
            tooltip="Send selected component to {{@key}} Layer"
            ): icon.paper.plane(class="{{val.color}}")


canvas#draw
