radio-buttons#toolChanger(value="{{currTool}}") 
    //- (on-select="changeTool")
    .ui.buttons
        radio-button.icon(
            default
            tooltip="Select" 
            value="sl"
            )
            icon.mouse.pointer
        radio-button.icon(
            tooltip="Trace route" 
            value="tr"
            )
            icon.bars
        radio-button.icon(
            tooltip="Move" 
            value="mv"
            )
            icon.arrows.alternate
        radio-button.icon(
            tooltip="Freehand tool" 
            value="fh"
            )
            icon.pencil.alternate

| &nbsp;
btn.red.icon(on-click="clear" tooltip="Clear gui layer"): icon.trash 
| &nbsp;
checkbox(
    checked="{{selectAllLayer}}" 
    tooltip="Select all objects in current layer") Immutable Layer
canvas#draw
