radio-buttons#toolChanger(on-select="changeTool")
    .ui.buttons
        radio-button.icon(
            tooltip="Freehand tool" 
            value="fh")
            icon.pencil.alternate
        radio-button.icon(
            tooltip="Trace route" 
            value="tr"
            default)
            icon.bars
        radio-button.icon(
            tooltip="Move" 
            value="mv")
            icon.arrows.alternate

| &nbsp;
btn.red.icon(on-click="clear" tooltip="Clear gui layer"): icon.trash 
| &nbsp;
checkbox(
    checked="{{selectAllLayer}}" 
    tooltip="Select all objects in current layer") Immutable Layer
canvas#draw
