//-.ui.input: input(value="{{scriptName}}")

.ui.buttons 
    btn.icon(on-click="clearScriptLayer" tooltip="Clear Output"): icon.eraser 
    checkbox(checked="{{autoCompile}}" tooltip="Auto Compile")
    btn.green.icon(on-click="compileScript" tooltip="Compile"): icon.play
    
+space
dropdown(
    object-data="{{drawingLs}}" 
    selected-key="{{scriptName}}" 
    on-select="scriptSelected")
btn.icon.orange(
    on-click="@.set('scriptName', null)" 
    tooltip="Clear selection"
    ): icon.remove
    
+space 
.ui.buttons
    ack-button.icon(
        on-click="newScript" 
        tooltip="New script"
        ): icon.file.alternate(add="top left corner add")
    ack-button.icon.red(
        on-click="removeScript" 
        tooltip="Delete current script"
        enabled="{{scriptName}}"
        ): icon.trash 
    ack-button.icon(
        on-click="downloadScripts" 
        tooltip="Download all scripts"
        ): icon.download 
    
//-
    div
        ol
            +each('Object.keys(drawingLs)')
                li {{.}}
ace-editor(code="{{editorContent}}" mode="livescript" style="height: 400px; width: 100%")
pre {{output}}
