radio-buttons(value="{{currLayer}}")
    .ui.vertical.buttons
        radio-button(default value="F.Cu" true-color="red") #[.ui.circle.red.label] F.Cu
        radio-button(value="B.Cu" true-color="green") #[.ui.circle.green.label] B.Cu
            

//- Property window 
table
    tr 
        td Trace width
        td: div(contenteditable="true" value="{{currTrace.width}}" style="padding: 0 2px")

    tr
        td(colspan="2") 
            .ui.basic.label LAYERS
            btn.icon.red(
                on-click="clearActiveLayer" 
                tooltip="Clear active layer"
                )
                icon.trash

radio-buttons(value="{{activeLayer}}" on-select="activateLayer")
    .ui.buttons.vertical
        +each('project.layers')
            radio-button(value="{{@key}}") {{@key}}

ack-button(
    on-click="sendTo"
    to="F.Cu" 
    tooltip="Send selected component to F.Cu Layer"
    ) #[.ui.circular.red.label to F.Cu]
    
    
