.ui.menu.secondary

    .item 
        .ui.buttons 
            file-button.icon(on-read="import" type="text" 
                tooltip="Upload the project JSON file"): icon.upload Import
            btn.icon(on-click="exportDrawing"
                tooltip="Export all layers"): icon.download Export

    //-file-button(on-read="importDXF2" type="text") DXF (2)

    //-
        .ui.button.icon(as-inline-popup="{position: 'right center'}"): icon.download Export
        .ui.popup.top.transition.hidden
            .ui.vertical.buttons 
                btn(on-click="exportSVG") SVG
                btn(on-click="exportDXF") DXF
                btn(on-click="exportJSON") JSON
                //- ack-button(on-click="exportKicad") Export Kicad_Pcb

    .item 
        .ui.input.right.labeled
            input(value="{{project.name}}")
            btn.icon.green.label(
                tooltip="Save project"
                on-click="['downloadProject', project.name]")
                icon.download

        file-button.icon(
            on-read="uploadProject" 
            tooltip="Open existing project"
            type="binary")
            icon.folder.open 

        //- TODO: Implement this 
            btn.icon.red(
                tooltip="Close project"
                on-click="closeProject")
                icon.folder.close

    .item
        ack-button.icon(on-click="undo" tooltip="Undo changes") Undo

    .item
        .ui.buttons
            btn.icon(
                on-click="save" 
                tooltip="Save now in local storage (just in case)"
                ): icon.save
            btn.icon.red(
                on-click="clear" 
                tooltip="Clear drawing area"
                ): icon.erase

    .item
        btn.green(
            on-click="runTests"
            tooltip="Run Tests"
            ): icon.checkmark
            
    .right.item
        .ui.button.basic.mini.pink
            a.icon(href="https://github.com/ceremcem/sgw-example/archive/master.zip" download tooltip="Download the example project")
                icon.download Example
    .right.item 
        btn.icon(on-click="showHelp"): icon.help Help
