            
//- Global properties 
table
    tr
        td x: {{pointer.x.toFixed(1)}}
        td y: {{pointer.y.toFixed(1)}}
    tr 
        td Zoom 
        td
            input-button.ui.mini.label(value="{{pcb.view.zoom}}" title="Zoom" decimal="1") 
+if('currTool === "tr"')
    table
        tr 
            td Trace width
            td
                input-button.ui.mini.label(
                    value="{{currTrace.width}}" 
                    title="Trace width"
                    decimal="2"
                    min="0.01"
                    unit="mm"
                    close-on-accept)
        tr 
            td Via Outer dia.
            td          
                input-button.ui.mini.label(
                    value="{{currTrace.via.outer}}" 
                    title="Via Outer diameter"
                    decimal="2"
                    min="0.01"
                    unit="mm"
                    close-on-accept)

        tr 
            td Signal T.
            td
                ui.mini.label {{oneDecimal(currTrace.signal, 2)}} mm 
        tr 
            td Power T.
            td
                ui.mini.label {{oneDecimal(currTrace.power, 2)}} mm

//- # Property window 

    Properties are set by kernel/index.ls/"Selection.on 'selected'" hook.
    
    Properties which starts with an underscore are hidden. 
    
    ------------------------------------------------------
.ui.segments
    h5.ui.top.attached.block.header Properties 
    .ui.segment(style="padding: 2px")
        table 
            +each('aecadData as value')
                +if('! @key.startsWith("_")') 
                    tr
                        td {{@key}}
                        td: s-input(value="{{value}}")

            +if('selectedAeobj.data.type === "Trace"')
                //- This is a trace 
                tr
                    td Thickness
                    td
                        input-button.ui.mini.label(
                            value="{{selectedAeobj.thickness}}" 
                            title="Trace width"
                            decimal="2"
                            min="0.01"
                            unit="mm"
                            close-on-accept)


    +if('Object.keys(aecadOwnerData).length > 0')
        .ui.segment(style="padding: 2px")
            table 
                +each('aecadOwnerData as value')
                    +if('! @key.startsWith("_")')
                        tr
                            td {{@key}}
                            td: s-input(value="{{value}}")        
    .ui.segment                                        
        radio-buttons(value="{{activeLayer}}" on-select="activateLayer")
            .ui.buttons.vertical
                +each('project.layers')
                    radio-button(value="{{@key}}") {{@key}}
    
    .ui.segment 
        .ui.vertical.buttons
            ack-button.red.icon(
                on-click="removeCurrLayer" 
                tooltip="Remove active layer and its contents"
                ): icon.trash {{activeLayer}}
